<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="website2.css" />
    <title> Working at the carwash</title>
  </head>
  <body style="text-align: center">
    <h4>clean Mr. Miyagi's car</h4>

    <div>
      <img
        src="https://cdn.glitch.com/d1e63e54-0d3b-4cf0-b1e9-975388f3167d%2F1111111.PNG?v=1570021236257"
        style="width: 350px"
      />
    </div>
    <div>
      <button
        onclick="document.getElementById('myImage').src='https://cdn.glitch.com/d1e63e54-0d3b-4cf0-b1e9-975388f3167d%2FCapture.PNG?v=1569938318205'"
      >
        wax on
      </button>

      <img
        id="myImage"
        src="https://cdn.glitch.com/d1e63e54-0d3b-4cf0-b1e9-975388f3167d%2FCapture.PNG?v=1569938318205"
        style="width:150px"
      />

      <button
        onclick="document.getElementById('myImage').src='https://cdn.glitch.com/d1e63e54-0d3b-4cf0-b1e9-975388f3167d%2F333.PNG?v=1569938314467'"
      >
        wax off
      </button>
    </div>
    <div>
      <p id="text" style="display:none">
        Great Job! Now Mr.Miyagi is letting you take the car on your date with
        Ali!
      </p>

      <button
        onclick="document.getElementById('myImage').src='https://cdn.glitch.com/d1e63e54-0d3b-4cf0-b1e9-975388f3167d%2Fbeep-bepp.webp?v=1569938682395';document.getElementById('text').style.display='block'"
      >
        Finish Car
      </button>
    </div>
  
  <p5>
 <a id="to"  href="https://no-new-java-jared.glitch.me/">Get Driving</a>
  </p5>
<div>
 
    </div>  <div>
    <style>
a:link, a:visited {
  background-color: black;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>
    </div>
  <ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Home</a>
    <div class="dropdown-content">
      <a href="/website1.html">Go Now</a>
    </div>
    </li>
    </ul>
  
  </body>
</html>
